<p-menubar>
  <ng-template pTemplate="start">
    <img
      src="assets/white-logo.png"
      routerLink="/"
      *ngIf="blackTheme"
      class="logo"
    />
    <img
      src="assets/black-logo.png"
      routerLink="/"
      *ngIf="whiteTheme"
      class="logo"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <button
      pButton
      type="button"
      label="Login"
      class="p-button-primary"
      icon="pi pi-sign-in"
      routerLink="/login"
      *ngIf="!isLogged"
    ></button>
    <button
      pButton
      type="button"
      label="Logout"
      class="p-button-primary"
      icon="pi pi-sign-out"
      (click)="onLogout()"
      *ngIf="isLogged"
    ></button>
  </ng-template>
</p-menubar>
