.login {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 278.84px;
  width: 330px;
}

.footer {
  position: fixed;
  bottom: 0.50rem;
  width: calc(100% - 1rem);
}

