.login {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 247.84px;
  width: 330px;
}

.fixed-footer {
  position: fixed;
  bottom: 0.5rem;
  width: calc(100% - 1rem);
}

.footer {
  display: none;
}

@media screen and (max-height: 460px) {
  .login {
    position: relative;
  }
  .fixed-footer {
    display: none;
  }
  .footer {
    margin-top: 40px;
    display: block;
  }
  .p-fluid {
    margin-top: 20px;
  }
}
